<head>
    <meta charset="utf-8">
    <title>{{ site.reveal.title }}</title>
    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'feed.xml' | absolute_url }}"/>

    <!-- Theme used for reveal.js and default syntax highlighting of code -->
    <link rel="stylesheet" href="{{ 'assets/plugin/highlight/monokai.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/rouge-highlight/monokai.css' | relative_url }}">

    <!-- Reveal CSS -->
    <link rel="stylesheet" href="{{ 'assets/dist/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/dist/reveal.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/dist/theme/' | relative_url }}{{ site.reveal.theme }}.css" id="theme">

</head>
