<script src="{{ 'assets/dist/reveal.js' | relative_url }}"></script>
<script src="{{ 'assets/plugin/markdown/markdown.js' | relative_url }}"></script>
<script src="{{ 'assets/plugin/highlight/highlight.js' | relative_url }}"></script>
<script src="{{ 'assets/plugin/search/search.js' | relative_url }}"></script>
<script src="{{ 'assets/plugin/zoom/zoom.js' | relative_url }}"></script>
<script src="{{ 'assets/plugin/notes/notes.js' | relative_url }}"></script>
<script src="{{ 'assets/plugin/math/math.js' | relative_url }}"></script>
<script>
  // https://revealjs.com/config/

  Reveal.initialize({
    // Display presentation control arrows
    controls: true,

    // Determines where controls appear, "edges" or "bottom-right"
    controlsLayout: 'bottom-right',

    // Visibility rule for backwards navigation arrows; "faded", "hidden"
    // or "visible"
    controlsBackArrows: 'faded',

    // Display a presentation progress bar
    progress: true,

    // Enable keyboard shortcuts for navigation
    keyboard: true,

    // Vertical centering of slides
    center: true,

    // Enable the slide overview mode
    overview: true,

    // Enables touch navigation on devices with touch input
    touch: true,

    // Add the current slide number to the URL hash so that reloading the
    // page/copying the URL will return you to the same slide
    hash: true,

    // Push each slide change to the browser history.  Implies `hash: true`
    history: false,

    transition: '{{ site.reveal.transition | default: "slide" }}',

    // Display the page number of the current slide
    // - true:    Show slide number
    // - false:   Hide slide number
    //
    // Can optionally be set as a string that specifies the number formatting:
    // - "h.v":   Horizontal . vertical slide number (default)
    // - "h/v":   Horizontal / vertical slide number
    // - "c":   Flattened slide number
    // - "c/t":   Flattened slide number / total slides
    //
    // Alternatively, you can provide a function that returns the slide
    // number for the current slide. The function should take in a slide
    // object and return an array with one string [slideNumber] or
    // three strings [n1,delimiter,n2]. See #formatSlideNumber().
    slideNumber: {% if site.reveal.number %} '{{ site.reveal.numberType | default: "c" }}' {% else %} false {% endif %},


    // Can be used to limit the contexts in which the slide number appears
    // - "all":      Always show the slide number
    // - "print":    Only when printing to PDF
    // - "speaker":  Only in the speaker view
    showSlideNumber: 'all',

    // https://revealjs.com/plugins/#built-in-plugins
    plugins: [
      RevealMarkdown,
      {% if include.highlight %}RevealHighlight,{% endif %}
      RevealSearch,
      RevealZoom,
      RevealNotes,
      RevealMath
    ]
  });
</script>
