<script src="{{ 'assets/js/reveal.js' | relative_url }}"></script>

<script>

  // More info https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    center: true,
    hash: true,

    transition: '{{ site.reveal.transition | default: "slide" }}',

    // More info https://github.com/hakimel/reveal.js#dependencies
    dependencies: [
      { src: "{{ 'assets/plugin/markdown/marked.js' | relative_url }}", condition: function() { return !!document.querySelector( "[data-markdown]" ); } },
      { src: "{{ 'assets/plugin/markdown/markdown.js' | relative_url }}", condition: function() { return !!document.querySelector( "[data-markdown]" ); } },
      {% if include.highlight %}{ src: "{{ 'assets/plugin/highlight/highlight.js' | relative_url }}", async: true }, {% endif %}
      { src: "{{ 'assets/plugin/search/search.js' | relative_url }}", async: true },
      { src: "{{ 'assets/plugin/zoom-js/zoom.js' | relative_url }}", async: true },
      { src: "{{ 'assets/plugin/notes/notes.js' | relative_url }}", async: true }
    ]
  });

  {% if site.reveal.number %} Reveal.configure({ slideNumber: "{{ site.reveal.numberType }}" }); {% endif %}

</script>
