<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="reveal">
    <div class="slides">

        {% for slide in site.slides %}
        <section {% if slide.transition %} data-transition="{{ slide.transition }}" {% endif %}>
            <section>
                <section>
                {{ slide.content }}
                </section>

                {% for basement in site.basements %}
                    {% if slide.url contains basement.slide %}
                    <section>
                        {{ basement.content }}
                    </section>
                    {% endif %}
                {% endfor %}
            </section>
        {% endfor %}

    </div>
</div>
{% include reveal.html %}
</body>
</html>


